<% provide(:title, "概要") %>
<h1 class="text-center blue">概要</h1>
<div class="about">
<h3>
  こちらは営業時間外のバーや美容院、飲食店を利用したい方に貸し出すマッチングアプリである。<br><br>
  きっかけは友人の作ってくれたカクテルにある。<br><br>
  友人宅を訪れた際にいただいたカクテルの味に感動。どうにか売り出せないかと考えた。。<br><br>
  そこで営業時間外のバーを借りればコストが掛からず商品を提供できるかもと。<br><br>
  また彼のような人材はあらゆる分野にも一定数いて才能が埋もれているケースが多いと感じる。<br><br>
  宝の持ち腐れを減らしたい。そんな思いで開発に至った。
</h3>
<h4><%= link_to "ホームへ戻る", root_path%></h4>
</div>